<% @page_title = "Stats Distributions" %>
<div class="page-header">
  <h1>Stats</h1>
</div>


<div class="row">
  <div class="col-md-7">
    <ul class="list-unstyled">
      <li><%= link_to('Pitching',pitching_stats_path) %></li>
      <li><%= link_to('Batting',batting_stats_path) %></li>
    </ul>
  </div>
</div>
