<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Pick</th>
        <th>Player</th>
        <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <% pickslist.each do |draftpick| %>
        <tr>
      <td><%= draftpick.overallpick %></td>
      <%- if !draftpick.player.nil? -%>
        <td><%= link_to("#{draftpick.player.fullname}", player_url(draftpick.player)) %></td>
        <td><%= draftpick.player.position.downcase %></td>
      <%- else -%>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <%- end -%>
      </tr>
    <%- end -%>
    </tbody>
</table>
