<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      use for ... <b class="caret"></b>
  </button>
  <div class="dropdown-menu">
    <%= set_pref_nav_item('use as default',stat_preference,'all') %>
    <%- DraftOwnerPositionPref.position_list(stat_preference.playertype).each do |position| -%>
      <%= set_pref_nav_item("use for position: #{position}",stat_preference,position) %>
    <%- end -%>
  </div>
</div>