<table class="table table-bordered">
  <thead>
	  <tr>
		  <th>&nbsp;</th>
		  <th>W-L</th>
		  <th>PCT</th>
		  <th>GB</th>
		  <th>L10</th>
		  <th>STRK</th>
		  <th>RF</th>
		  <th>RA</th>
		  <th>X_PCT</th>
		  <th>X_WL</th>
		  <th>Home</th>
		  <th>Road</th>
		  <th>v.Hum</th>
		  <th>v.Com</th>
		  <th>v.Winners</th>
		  <th>v.Losers</th>
		  <th>League GB</th>
		  <th>Overall GB</th>
	  </tr>
  </thead>
  <tbody>
    <%- teamlist.each do |team,record| -%>
	    <%= render(:partial => 'team_record_row', :locals => {:team => team, :record => record} )%>
    <%- end -%>
    </tbody>
</table>
