<% @page_title = "Stat Sheets" %>

<div class="row">
  <div class="col-md-12">
    <%= render(:partial => 'filelist' )%>
  </div>
</div>

<%- if @currentowner.is_admin? -%>
<%= render(:partial => 'file_upload_form' )%>
<script>
    <%= render(partial: 'shared/dropzone.js', :locals => {post_controller: 'stat_sheets', param_name: 'stat_sheet[datafile]', accepted_file_extensions: '.xlsx,.xls'}) -%>
</script>
<%- end -%>
