<div class="row">
  <%- if @playerlist -%>
    <%- @playerlist.each do |player| -%>
      <div class="col-md-4">
        <%= form_tag(draft_draft_player_path(id: player.id), :class => 'form-horizontal') do -%>
        <%= hidden_field_tag(:draftaction,'draft') %>
        <fieldset>
        <legend><%= "#{player.fullname} (#{player.position})"  %></legend>
        	<div>
        		<%= submit_tag('Draft',:class=>'btn btn-primary') %>
        	</div>
          </fieldset>
        <%- end -%>
      </div>
      <%- end -%>
  <%- else -%>
  <%- end -%>
</div>
