<%- @page_title = "Log In - Missing Information" -%>

<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
<div class="well">

<h2>Invalid Token</h2>

<p>The link that you clicked to confirm your email address
  has an invalid or expired confirmation token that we use
  internally to verify that you received our email to you.</p>

<p>Try <%= link_to("sending another login email", login_path) %> with a new link to your email account</p>

</div></div>
<div class="col-md-4"></div>
</div>
