<%- @page_title = "Log In Notice" -%>

<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

<div class="well">

<h2>Email sent!</h2>

<p>We've sent an email to your registered email address with a custom login link so that you can login
  to this site on your computer or other device. Please check your email for the link.</p>

<p>If it doesn't arrive in the next 15 minutes, try <%= link_to("sending another login email", login_path) %> with a new link to your email account</p>
</div></div>
<div class="col-md-4"></div>
</div>
