.rankingvaluecloud {float:left;padding:0;margin:0;width:100%;border:1px solid #fff;}
.rankingvaluecloud ul {float:left;padding:0;margin:0 0 1.5em !important;width:100%;}
.rankingvaluecloud li {float:left !important;margin:.35em !important; border:0;clear:none !important; width:auto !important;}
.rankingvaluecloud li a {text-decoration:none;padding:.2em .25em;background:#f2f2f2;}
.rankingvaluecloud li a:hover {text-decoration:none !important;background:#003ba1;color:#fff;}
.rankingvaluecloud li span {margin-left:.25em;color:#888;}
.rankingvaluecloud li a:hover span {margin-left:.25em;color:#ccc;}
