<table class="table table-bordered ">
	 <tbody>
    <%- (DraftStatDistribution::PITCHING_DIRECTIONS.keys - DraftStatDistribution.core(DraftStatDistribution::PITCHER) - ['age']).sort.each do |stat| -%>
	    <tr>
		    <td><%= stat %></td>
		    <td><%= @player.statline.send(stat) %></td>
	    </tr>
	  <%- end -%>
 </tbody>
</table>
