<table class="table table-bordered ">
	 <tbody>
    <%- (Stat::BATTING_DIRECTIONS.keys - Stat.core(Stat::BATTER) - ['age']).sort.each do |stat| -%>
	    <tr>
		    <td><%= stat %></td>
		    <td><%= @player.statline.send(stat) %></td>		
	    </tr>
	  <%- end -%>
 </tbody>
</table>
