<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Overall</th>
      <%- @player.eligible_positions.each do |position| %>
        <th><%= position.upcase %></th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= best_in_place(@player.owner_rank_or_blank(@currentowner), :overall, { :type => :input, :url => set_draft_owner_rank_draft_player_path(:id => @player.id, :position => 'overall')})%></td>
      <%- @player.eligible_positions.each do |position| %>
        <td><%= best_in_place(@player.owner_rank_or_blank(@currentowner), "pos_#{position}", { :type => :input, :url => set_draft_owner_rank_draft_player_path(:id => @player.id, :position => position)})%></td>
      <%- end -%>
    </tr>
  </tbody>
</table>
