<table class="table">
  <tbody>
    <tr>
      <td><strong>Overall</strong></td>
      <td>
      <button type='button' class='btn btn-info btn-lg'>
      <%# = best_in_place(@player.owner_rank_or_blank(@currentowner), :overall, {:as => :input, :url => set_draft_owner_rank_draft_player_path(:id => @player.id, :position => 'overall')}) %>
      </button>
      </td>
    </tr>
    <%- @player.eligible_positions.each do |position| %>
    <tr>
      <td><strong><%= position.upcase %></strong></td>
      <td>
      <button type='button' class='btn btn-info btn-lg'>
      <%# = best_in_place(@player.owner_rank_or_blank(@currentowner), "pos_#{position}", { :as => :input, :url => set_draft_owner_rank_draft_player_path(:id => @player.id, :position => position)}) %>
      </button>
      </td>
    </tr>
    <%- end -%>
  </tbody>
</table>
