<%- if @position -%>
  <% @page_title = DraftPlayer.positionlabel(@position) %>
<%- else -%>
 <% @page_title = "Players" %>
<%- end -%>


<div class="row">
  <div class="col-md-12">
    <%= render(:partial => 'filter_bar') %>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-12">
    <% if @showtype == 'pitchers' %>
    	<%= render(:partial => 'exp_pitchers', :locals => { :playerlist => @playerlist }) %>
    <% else %>
    	<%= render(:partial => 'exp_batters', :locals => { :playerlist => @playerlist }) %>
    <% end %>
  </div>
</div>


<script class="code" type="text/javascript">
 $(".datatable_draftplayer_table").dataTable( {
      "order": [[ 3, "desc" ]],
      "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
      "pageLength": 50
  });
</script>