<% @page_title = "Recent DMB Export Uploads" %>

<div class="row">
  <div class="col-md-12">
    <%= render(:partial => 'filelist' )%>
  </div>
</div>

<%- if @currentowner.is_admin? -%>
<%= render(:partial => 'file_upload_form' )%>
<%- end -%>
